<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--<add key="DbType" value="sqlserver"/>
    <add key="connectionString" value="Data Source=121.199.9.217;Initial Catalog=test;User ID=test;Password=test123;Trusted_Connection=no;Min Pool Size=10;Max Pool Size=100;"/>

    <add key="DbType" value="mysql"/>
    <add key="connectionString" value="Data Source=.;port=3306;User ID=root;Password=123456;DataBase=test;Min Pool Size=10;Max Pool Size=100;"/>-->

    <!--<add key="DbType" value="sqlserver"/>
    <add key="DbHost" value="8QHMQCAJBCOOHW2\SQLEXPRESS" />
    <add key="DbName" value="test"/>
    <add key="DbUser" value="sa"/>
    <add key="DbPassword" value="111111"/>
    <add key="DbMinPoolSize" value="10"/>
    <add key="DbMaxPoolSize" value="100"/>-->

    <add key="DbType" value="mysql"/>
    <add key="DbHost" value="chenghong.mysql.rds.aliyuncs.com" />
    <add key="DbName" value="test_db"/>
    <add key="DbUser" value="user_test"/>
    <add key="DbPassword" value="111111"/>
    <add key="DbPort" value="3306"/>
    <add key="DbMinPoolSize" value="10"/>
    <add key="DbMaxPoolSize" value="100"/>
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
