<?xml version="1.0"?>


<configuration>


  <appSettings>

    <add key="DbType" value="mysql"/>

    <add key="DbHost" value="127.0.0.1" />

    <add key="DbName" value="app_benefit"/>

    <add key="DbUser" value="root"/>

    <add key="DbPassword" value="12345678"/>

    <add key="DbPort" value="3311"/>

    <add key="DbMinPoolSize" value="10"/>

    <add key="DbMaxPoolSize" value="100"/>

    <add key="DbOutputPath" value="../../../server/hudie/hudie/dbfile/dblogic/benefit/"/>

  </appSettings>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

</configuration>
