<?xml version="1.0"?>
<configuration>
  <startup>
    
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="csvpathServer" value="E:/liuhuitao/publish/server/data"/>
    <add key="csvpathClient" value="../publish/asset/data"/>
    
    <add key="excelpath" value="E:/liuhuitao/plan/数值文档/数据表格"/>
    <add key="assourcepath" value="E:/xykd/src/data/temple"/>
    <add key="cssourcepath" value="E:/liuhuitao/code/server/XY2Server/GameDb/Data"/>
  </appSettings>
</configuration>
